---
layout: default
title: Home
id: home
---
<link rel="stylesheet" href="{{ '/assets/styles/global/element_classes.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/styles/pages/home.css' | relative_url }}">

{% if site.posts.size > site.data.posts_on_main %}
<script src="{{ '/scripts/pages/home/show_more.js' | relative_url }}" defer></script>
{% endif %}

<div class="post_list" id="post-container">
    {% for post in site.posts limit: site.post_on_main %}
    <article class="post-item">
        <a href="{{ post.url | relative_url }}" class="post-card-link"
            style="--bg: {{ post.card-color }}; background-color: var(--bg); background-image: url('{{ post.card-image | relative_url }}');">
            <h3 class="title">{{ post.title }}</h3>
            <p class="summary">{{ post.summary | default: post.excerpt | strip_html | truncatewords: 25 }}</p>
            <p class="date">{{ post.date | date: "%B %d, %Y" }}</p>
        </a>
    </article>
    {% endfor %}
</div>